.header__info {
    color: #a9a9a9;
    display: flex;
    column-gap: 24px;
    margin: 10px 0 0 0;
    height: fit-content;
}

@media screen and (max-width: 400px) {
  .header__info {
    flex-direction: column;
    justify-content: center;
    gap: 18px;
  }
}