.popup__container {
  background-color: #fff;
  border-radius: 10px;
  max-width: 430px;
  padding: 34px 36px 33px 36px;
  box-sizing: border-box;
  position: relative;
}
@media screen and (max-width: 480px){
  .popup__container {
    max-width: 282px;
    padding: 25px 22px 20px 22px;
  }
}