.header {
  display: flex;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 0 auto 36px;
  padding: 45px 0 41px;
  justify-content: space-between;
  align-items: center;
  /*box-sizing: border-box;*/
}

@media screen and (max-width: 1200px) {
  .header {
    width: calc(100% - 2*100px);
  }
}
  
@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 2*50px);
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-bottom: 31.6px;
    width: 100%;
    margin: 28px auto 42px auto;
  }
}  
  